<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">
    <title>Read more</title>
    <link rel="stylesheet" href="/views/CSS/aboutus.css">
</head>

<body>
    <section id="about">
        <div class="section__data">
            <h2 class="section__subtitle">ABOUT US</h2>
            <div class="section__titles">
                <h1 class="section__title-border">GET TO</h1>
                <h1 class="section__title">KNOW US</h1>
            </div>
        </div>
        <div class="section">
            <div class="hero">
                <article>
                    
                    <img class="simg" src="/img/abuimg.jpg" alt="Image">
                    <h2 class="section__subtitle">GEETANJALI AGARTHADE</h2>

                    <content>
                        Geetanjali Yoga and Fitness Zone offers a unique and convenient approach to health and well-being b
                        y conducting online batches. Geetanjali understands the value of time in today's fast-paced world, an
                        d these online sessions provide a time-saving solution for individuals seeking to prioritize their fi
                        tness and yoga practice. These virtual classes enable participants to access expert guidance and personalized 
                        training from the comfort of their homes, making it easier than ever to integrate yoga and fitness into their
                         busy schedules. Geetanjali's commitment to promoting a healthier lifestyle is enhanced by the accessibility and 
                        efficiency of these online sessions, ensuring that her clients can achieve their wellness goals without compromising their daily routines.

                    </content>
                </article>
            </div>
        </div>
        <div class="section__data">
            <h2 class="section__subtitle">CERTIFICATION</h2>
            <div class="section__titles">
                <h1 class="section__title-border">WE ARE</h1>
                <h1 class="section__title">CERTIFIED</h1>
            </div>
        </div>
        <div class="about-row">
            <div class="about-right-col">
                <img src="/img/cerificate1.png">
            </div>
            <div class="about-left-col about-content">
                <p class="section__subtitle">YOGA INSTRUCTOR COURSE</p><br>
                <p>
                    Geetanjali completed her Yoga Instructor's Course at the esteemed Vivekananda Yoga Anusandhana Samsthana (VYASA) institute.
                     VYASA is renowned for its comprehensive and authentic approach to yoga education. The institute's dedication to 
                     traditional yoga teachings, scientific research, and holistic wellness aligns perfectly with Geetanjali's 
                     commitment to promoting a healthy and balanced lifestyle through yoga. Her training at VYASA has equipped her with 
                     the knowledge and expertise to guide individuals on their yoga journey, fostering physical and mental well-being.
                </p>
                <p></p>
            </div>
        </div>
        
        <div class="about-row">
            <div class="about-left-col about-content">
                <p class="section__subtitle">AYURVEDIC DIET & NUTRITION</p><br>
                <p>
                    Geetanjali has completed her Nutrition and Yoga training, including Ayurvedic Diet, 
                    at the esteemed Arogyam Institute of Ayurveda, Nutrition & Yoga. This institute is 
                    renowned for its comprehensive and authentic approach to holistic health, combining
                     the principles of Ayurveda, nutrition, and yoga to promote overall well-being.
                      Geetanjali's training at Arogyam has equipped her with the knowledge and expertise to provide personalized dietary guidance and integrate Ayurvedic principles into her yoga practice,
                     offering a holistic approach to health and wellness for her clients.
                </p>
            </div>
            <div class="about-right-col">
                <img src="/img/cer2.png">
            </div>
        </div>
        
    </section>
</body>

</html>