
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/views/CSS/home.css">
    <title>Welcome to Our Website</title>

</head>
<body>
    <div class="container">
        <h1>Welcome to Geetanjali Fitness</h1>
        <p>Build your dream body</p>
        <a href="/login"><button type="button" style="width: 110px;">Login</button></a>
        <a href="/register"><button type="button">Register</button></a>
        <div style="display: block;"><br>
        <a href="/adminlogin" style="font-size: 15px;padding-left: 10px;">Admin?</a>
    </div>
    </div>

</body>
</html>

