<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meditation</title>
    <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
        integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/boot.css">

    <link rel="stylesheet" href="/views/CSS/meditation.css">

</head>
<body>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading text-center mb-5">
                        <h2>Discover Our Services</h2>
                        <p>"Our Offered Programs"</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="thumb">
                            <img src="../img/medi1.jpg" class="img-fluid" alt="">
                        </div><br>
                        <h3><a href="#">Relaxation</a></h3>
                        <p>"Meditation: Quiet mind, tranquil heart, inner peace discovered."</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="thumb">
                            <img src="../img/med2.jpg" class="img-fluid" alt="">
                        </div><br>
                        <h3><a href="#">Loving-Kindness Meditation</a></h3>
                        <p>"Loving-kindness meditation: Radiate love, compassion, fostering inner well-being."</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="thumb">
                            <img src="../img/med3.jpg" class="img-fluid" alt="">
                        </div><br>
                        <h3><a href="#">Vipassana Meditation</a></h3>
                        <p>"Vipassana Meditation: Insight unfolds, clarity arises, mindfulness deepens."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-overlay"></div>
    </section>


        <div class="bg-overlay"></div>
    </section>
    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="benefits-text">
                        <p> At TranquilMinds Meditation Center, we provide a wide array of meditation programs, 
                            all accessible through online platforms. Whether you're seeking practices to enhance your focus
                            , reduce stress, or foster inner serenity, our comprehensive meditation sessions can be enjoyed in the comfort of your own space. The enthusiastic feedback from our clients underscores our dedication to offering convenient online meditation solutions. This approach not only increases accessibility 
                            to meditation but also ensures that our programs yield efficient results, making your meditation journey effective and time-friendly.
                            <div class="exercise-types">
                                <ul>
                                    <li>Transcendental Meditation</li>
                                    <li>Loving-Kindness Meditation</li>
                                    <li>Relaxation</li>
                                    <li>Vipassana Meditation</li><br>
                                </ul>
                            </div></p><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="benefits-img">
                        <img src="../img/mde.jpg" class="img-fluid" height="500px" width="500px">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>