<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">
    <title>Access Denied</title>

    <link rel="stylesheet" href="/views/CSS/noaccessdash.css">
</head>

<body>
    <section>
        <div class="para-container">
            <p class="para">
                "This feature is exclusively for subscribed users. You can sign up today and enjoy our exclusive content."
            </p>
            <a href="/index#pricing" class="login-button">Subscribe</a>
        </div>
    </section>
</body>

</html>
