
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Form</title>
  <link rel="stylesheet" href="/views/CSS/register.css">
  <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body style="background: url(img/image.jpg); background-position: center;
background-size: cover;">
  <div class="wrapper">
    <form action="/register" method="POST">
      <h2>Register</h2>
      <div class="input-field">
        <!-- <input type="text" autocomplete="false" id="email" placeholder="Enter your email" /> -->
        <input type="text" autocomplete="false" name="username" id="displayName" required placeholder="Enter Your Username">
        <i class="fa-regular fa-user fa-lg emailicon" style="color: #666"></i>
      </div>
      <div class="input-field">
        <input type="text" name="email" id="email" placeholder="Enter Your E-mail"/>
        <i class="fa-regular fa-envelope fa-lg emailicon" required style="color: #666"></i>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" required placeholder="Enter your password" />
        <i class="pass-icon fa fa-eye-slash" style="color: #666" id="passwordToggleIcon"
          onclick="togglePasswordVisibility()"></i>
      </div><br><br>
      <button type="submit" value="Continue">Register</button>

      <div class="register">
        <p>Already have an account? <a href="login">login</a></p>
      </div>
      <div class="footer">
        <span>Or Connect With Google auth</span>
        <div class="social-fields">
          <div class="social-field twitter">
            <a href="/auth/google">
              <i class="fab fa-google"></i>
              Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="/views/JS/register.js"></script>
</body>

</html>