<html lang="en">

<head>

    <title>Terms and conditions</title>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" href="img/web yoga icon.png" type="image/x-icon">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" href="/views/CSS/termsandcondition.css">
</head>

<body id="terms-and-conditions">


    <div class="container-fluid">
        <div class="row terms-and-conditions-section">
            <div class="col-xs-12 text-center">
                <h1 class="title">Terms and Conditions</h1>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="content">

                    <h3>1. Payment Obligations</h3>
                    <br>

                    <h4>
                        <p>By engaging in any financial transactions, making payments, or using payment methods provided
                            by Geetanjali Fitness, you acknowledge and agree to abide by these Payment Terms and
                            Conditions. Please carefully read and understand these terms before proceeding with any
                            payments.
                        </p>
                    </h4>

                    <br>

                    <h3>2. Accepted Payment Methods
                    </h3>
                    <br>
                    <h4>
                        <p>
                            Geetanjali Fitness accepts the following payment methods for the payment of services,
                            membership fees, and other related transactions:
                        <ul>
                            <li>Credit and debit cards</li>
                            <li>Electronic fund transfers (EFT)</li>
                            <li>G Pay</li>
                            <li>Other payment methods specified in our payment instructions or agreements</li>
                        </ul>

                        </p>
                    </h4>

                    <br>
                    <h3>3. Payment Authorization
                    </h3>
                    <br>
                    <h4>
                        <p>When you provide payment information to Geetanjali Fitness, you grant us the authorization to
                            charge the applicable fees and amounts to your chosen payment method.</p>

                        <p>For monthly membership fees and similar payments, you allow Geetanjali Fitness to charge your
                            payment method regularly, following the schedule outlined in our
                            Membership Terms and Conditions according to the rules
                            specified in the Membership Terms and Conditions.</p>

                    </h4>

                    <br>


                    <h3>4. Payment Disputes</h3>
                    <br>
                    <h4>
                        <p>In the event of a dispute or discrepancy in charges made by Geetanjali Fitness, you agree to
                            contact us promptly to address the issue. We will conduct a reasonable investigation to
                            resolve the dispute in a timely manner.
                        </p>

                    </h4>


                    <br>
                    <h3>5. Refunds and Cancellations</h3>
                    <br>
                    <h4>
                        <p>The fees cannot be refunded or moved to another account. You can find more information about
                            our refund and cancellation policies in the Membership Terms and Conditions or program
                            agreements.
                        </p>
                    </h4>
                    <br>

                    <h3>6. Payment Security</h3>
                    <br>
                    <h4>
                        <p>Geetanjali Fitness prioritizes the security of your payment information. We implement
                            industry-standard security measures to protect your payment details. However, it is
                            important to understand that we are not liable for any breaches or unauthorized access to
                            your payment information that may occur beyond our control.</p>
                    </h4>
                    <br>

                    <h3>7. Billing Statements</h3>
                    <br>
                    <h4>
                        <p>You will receive billing statements, payment receipts, or payment confirmations via email or
                            other appropriate communication methods as part of our standard procedure.
                        </p>
                    </h4>
                    <br>

                    <h3>8. Contact Information</h3>
                    <br>
                    <h4>
                        <p>If you have any questions, inquiries, or concerns regarding these Payment Terms and
                            Conditions, please do not hesitate to contact Geetanjali Fitness
                        </p>
                    </h4>
                    <br>

                    <h3>
                        9. Payment Frequency and Due Dates
                    </h3>
                    <br>
                    <h4>
                        <p> For services and memberships that require recurring payments, you are responsible for
                            knowing the payment frequency (<b>e.g.,</b>monthly, quarterly) and due dates specified in
                            your
                            Membership Terms and Conditions or program agreements. Failure to make timely payments may
                            result in late fees.

                        </p>
                    </h4>
                    <br>

                    <h3>
                        10. Payment Default
                    </h3>
                    <br>
                    <h4>
                        <p>
                            Geetanjali Fitness reserves the right to suspend or terminate your membership or access to
                            services for persistent payment default. We may charge applicable fees for declined or
                            returned payments.

                        </p>
                    </h4>
                    <br>

                    <h3>
                        11. Currency and Taxation
                    </h3>
                    <br>
                    <h4>
                        <p>
                            All payments are processed in the currency specified by Geetanjali Fitness. You are
                            responsible for any applicable taxes or fees associated with your payments, in accordance
                            with local laws and regulations.

                        </p>
                    </h4>
                    <br>

                    <h3>
                        12. Liability and Disclaimers
                    </h3>
                    <br>
                    <h4>
                        <p>
                            Geetanjali Fitness is not liable for any losses, damages, or expenses that you may incur as
                            a result of using our payment services, including but not limited to unauthorized access to
                            your payment information, payment errors, or interruptions in our payment processing
                            systems.

                        </p>
                    </h4>
                    <br>

                    <h3>13. Termination of Payment Services
                    </h3>
                    <br>
                    <h4>
                        <p>
                            Geetanjali Fitness reserves the right to terminate or suspend its payment services at any
                            time. We will make reasonable efforts to notify you in advance of any service termination.
                        </p>
                    </h4>
                    <br>

                    <h3>14. Dispute Resolution
                    </h3>
                    <br>
                    <h4>
                        <p>
                            If you have a dispute or claim related to payments, you agree to contact us first to attempt
                            to resolve the issue amicably.
                        </p>
                    </h4>
                    <br>

                    <h3>15. Entire Agreement
                    </h3>
                    <br>
                    <h4>
                        <p>
                            These Payment Terms and Conditions, in conjunction with our Membership Terms and Conditions
                            and any program-specific agreements, constitute the entire agreement between you and
                            Geetanjali Fitness regarding payments.

                        </p>
                    </h4>
                    <br>

                    <h3>16. Contact Information
                    </h3>
                    <br>
                    <h4>
                        <p>
                            If you have any questions or require further clarification regarding these Payment Terms and
                            Conditions, please reach out to Geetanjali Fitness at [Your Contact Information].
                        </p>
                    </h4>
                    <br>
                </div>
            </div>
        </div>
    </div>

</body>

</html>