* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

/* Set font size based on the root element */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Body styles */
body {
    background: #f7f7f7;
    padding-left: 30rem;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #2a2a2a;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

header .logo span {
    text-transform: uppercase;
    color: #b518d1;
    /* Main color */
}

header .navbar a {
    display: block;
    font-size: 2.2rem;
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #b518d1;
    /* Main color */
    border: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

header .navbar a:hover {
    background-color: #89089f;
    /* Darker shade of main color */
    color: #fff;
    transform: scale(1.05);
    /* Add a scaling effect on hover */
}

/* Add a subtle shadow to the header */
header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


header .follow {
    padding-top: 40px;
}

header .follow a {
    font-size: 1.7rem;
    color: #fff;
    margin: 0 .7rem;
    transition: color 0.2s;
}

header .follow a:hover {
    color: red;
}

/* Image styles */
img {
    height: 40px;
    width: 40px;
    display: inline;
    margin-bottom: 10px;
}

/* Menu bars styles */
#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background:#89089f ;
    color: #f7f7f7;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#menu-bars:hover {
    background-color: #89089f;
}

/* Section styles */
section {
    padding: 1rem 5%;
    min-height: 100vh;
}

/* Table container styles */
.table-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #b518d1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #b518d1;
    font-size: 14px;
}

th {
    background-color: #b518d1;
    font-weight: bold;
    color: #fff;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    background-color: #b518d1;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
}

.pagination button:hover {
    background-color: #89089f;
}

/* Font Awesome Icons */
.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b518d1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #89089f;
}



.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    max-width: 600px;
    /* Set a maximum width */
    height: auto;
    /* Maintain aspect ratio */
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

.card-list .card-item img:hover {
    transform: scale(1.1);
    /* Scale the image on hover */
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;

    font-size: 1.75rem;
    border-radius: 70px;
    font-weight: 600;
}

.card-list .developer {

    background-color: #F7DFF5;
    color: #B22485;
}

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6;
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item h1 {
    color: #150303;
    font-size: 25px;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
    background: #000;
    color: #fff;
}

.section__data {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section__title,
.section__title-border {
    font-size:2.2rem;
    letter-spacing: 1.5px;
}

.section__subtitle {
    font-size: 2.25rem;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
    color:  hsl(282, 72%, 55%);
    transform: rotate(-2deg);
   
}

.section__titles {
    display: flex;
    column-gap: .75rem;
    justify-content: center;
}

.section__title-border {
    
    color: hsl(180, 47%, 4%);
}

h1,
h2,
h3 {
    color: hsl(282, 72%, 55%);
    font-weight: 700;
}


/* Media Queries for different screen sizes */

/* Small screens, 911px and below */
@media only screen and (max-width: 911px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    img {
        height: 100px;
        width: 100px;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }
}

/* Medium screens, 768px and below */
@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    body {
        padding-left: 0;
    }

    header {
        padding: 5rem 2rem;
    }

    header .logo {
        font-size: 1.5rem;
    }

    header .navbar a {
        font-size: 1.8rem;
        margin-top: 20px;
        padding: 10px 15px;
    }

    #menu-bars {
        padding: 1rem;
    }

    .table-container {
        margin: 10px;
        padding: 10px;
        overflow-x: auto;
    }

    table th,
    table td {
        padding: 8px;
        font-size: 14px;
        /* Adjust table cell font size */
    }

    .pagination button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* Small screens, 450px and below */
@media only screen and (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .contact-content {
        width: 100%;
    }

    /* Show the menu bar on small screens */
    #menu-bars {
        display: initial;
    }
}

/* Medium screens, 1200px and below */
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

/* Large screens, 980px and below */
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}